html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.SignInForm {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px ;
}

.imagine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 380px;
    background-color: #a0e4b0;
    margin-top: 5px;
}

.container-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 380px;
    margin-top: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.loginImage {
    height: 300px;
    width: 300px;
}

.SignInForm h1 {
    display: flex;
    font-size: large;
    color: #2e7d32;
}

.SignInForm input {
    width: 280px
}

.SignInForm div {
    margin-bottom: 5px;
}

.SignInForm .butoane {
    width: 308px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 830px) {

    .form {
        margin-bottom: 1.5rem;
    }

    .imagine {
        width: 400px;
        margin-top: 0px;
    }

    .loginImage {
        width: 250px;
        height: 300px;
    }

    .SignInForm {
        width: 400px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin-top: 10px;
    }

    .SignInForm .butoane {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}