body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.firstImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #42b883   ;
    height: 500px;
    margin-top: 5px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.5s;
}

.firstImage:hover {
    border: 3px solid white;
    transform: scale(1.05);
}

.secondImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #347474;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid transparent;
    transition: all 0.5s;
}

.secondImage:hover {
    border: 3px solid white;
    transform: scale(1.05);
}


.pf {
    margin-top: 3.6rem;
    margin-left: 1rem;
    width: 450px;
    height: 400px;
}

.firma {
    margin-top: 3.2rem;
    width: 450px;
    height: 400px;

}

.firstImage h1 {
    text-transform: uppercase;
    margin-top: 25px;
    font-weight: 800;
    color: #fff;
}

.secondImage h1 {
    text-transform: uppercase;
    margin-top: 25px;
    font-weight: 800;
    color: #fff;
}

@media(max-width:920px ){

    .firstImage {
        height: 350px;
        margin-top: 0;
    }
    .secondImage {
        height: 350px;
        margin-top: 0px;
    }

    .firstImage::focus {
        border: 3px solid white;
        transform: scale(1.05);
    }
    .secondImage::focus {
        border: 3px solid white;
        transform: scale(1.05);
    }
    .pf {
        margin-top: 0;
        width: 350px;
        height: 300px;
    }

    .firma {
        margin-top: 0;
        width: 365px;
        height: 300px;
    }
}