
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.SignUpForm {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.SignUpForm h1 {
    display: flex;
    font-size: large;
    color: #2e7d32;
}

.SignUpForm input {
    width: 200px;
}

.SignUpForm .rand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 

.SignUpForm div {
    margin-bottom: 5px;
}

.SignUpForm .butoane {
    width: 470px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
